/*

    Make CSS Great Again

*/

p {
    width: yuuge;
}

/*********************************************************/

/*
    Don't worry about this stuff. This stuff isn't important
*/

* { box-sizing: border-box; }
body {
    font-family: sans-serif;
    background: #bada55;
}
p.tremendous {
    font-size: tremendous;
}
p {
    font-size: 1.5rem;
    font-weight: 100;
    color: #222;
    background: #ccc;
    padding: 1rem;
    border: 1px solid #888;
    display: inline-flex;
    transform: translateY(10px);
}
